body {
  
    background-color: rgb(142, 138, 138);
    color: darkblue;
    font-family: Arial, sans-serif;
    background-image:url(Images/annie-spratt-zA7I5BtFbvw-unsplash.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}  
 
 
 /* Styles pour le titre */
 h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(214, 86, 0);
}

/* Styles pour le cadre externe */
.outer-table {
    width: 800px;
    border: 3px solid navy;
    border-collapse: collapse; /* Fusionner les bordures */
    margin: 0 auto; /* Centrage horizontal */
}

/* Styles pour le tableau interne */
.inner-table {
    width: 100%;
    border-spacing: 5px; /* Espacement entre les cellules */
}

/* Styles pour les cellules */
.inner-table td {
    padding: 5px;
}

/* Styles pour les champs de saisie */
input[type="text"],
textarea {
    width: 100%;
}


input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(93, 7, 71, 0.847);
    border-radius: 4px;
    background-color: #ffbfab9a;
    color: rgb(68, 19, 124);
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.1);
  }


   
  input[type="submit"],
  input[type="reset"] {
    background-color: #4caf4fd7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    width: 50%;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #45a049;
  }

  label {
    color: rgb(66, 21, 64);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 50%;
  }

  form {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;

  }